# ========================
# VENV
# ========================
procast/
venv/
env/
.venv/

# ========================
# VARIABLES D'ENVIRONNEMENT
# ========================
.env
.env.*
!.env.example

# ========================
# PYTHON
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# ========================
# LOGS
# ========================
*.log
logs/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# EDITEURS
# ========================
.vscode/
.idea/
*.swp
*.swo
*~

# ========================
# TESTS / COVERAGE
# ========================
.pytest_cache/
.coverage
htmlcov/

# ========================
# DIVERS
# ========================
*.sqlite3
*.db
test.py